*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
tr{
    width: 100px;
}
td{
    width: 100px;
    border: 1px solid black;
}